html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


    /* Estilo para el modo oscuro */
    body.dark-mode {
        background-color: #333;
        color: #fff;
    }

/* Ajustes adicionales según tus necesidades */
